<div class="StockData">
    <table>
    <tbody>
    <tr>
        <th>Volume 24hs:</th>
        <td>{{ (ticker | async)?.volume }}</td>
    </tr>
    <tr>
        <th>High 24hs:</th>
        <td>{{ ticker | async }}</td>
    </tr>
    <tr>
        <th>Low 24hs:</th>
        <td>{{ (ticker | async)?.low }}</td>
    </tr>
    <tr>
        <th>Last Price:</th>
        <td>{{ (ticker | async)?.last }}</td>
    </tr>
    <tr>
        <th>Variation 24hs:</th>
        <td>{{ (ticker | async)?.variation }}%</td>
    </tr>
    </tbody>
    </table>
</div>
