<div class="left" *ngIf="tickers">
    <ul>
        <li *ngFor="let ticker of tickers | async">
            <div className="StockData">
                <table>
                <tbody>
                <tr>
                    <th>Volume 24hs:</th>
                    <td>{{ticker.volume}}</td>
                </tr>
                <tr>
                    <th>High 24hs:</th>
                    <td>{{ticker.high}}</td>
                </tr>
                <tr>
                    <th>Low 24hs:</th>
                    <td>{{ticker.low}}</td>
                </tr>
                <tr>
                    <th>Last Price:</th>
                    <td>{{ticker.last}}</td>
                </tr>
                <tr>
                    <th>Variation 24hs:</th>
                    <td>{{ticker.variation}}%</td>
                </tr>
                </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>
